
.container1-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1-col .card{
    
    box-shadow: none;
    border: none;
}
.container1-col>img{
    width: 92%;
    height: 92%;
    padding: 8% 8%;
}
.nav-tabs {
    border-bottom: 0px !important;
    color: rgb(133, 131, 131) !important;
    box-shadow: 0 -3px 0 0 red inset;
    
}
.nav-link{
 border: 0 !important;
 font-weight: bold;
 color: #777 !important; 
 box-shadow: 2 -1px 0 0 red inset;
}
.nav-link:hover{
}

.active{
    color: rgb(40, 194, 241) !important;
    box-shadow: 0 -3px 0 0 rgb(40, 194, 241) inset;
    border: 0 !important;
}