.navbar{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dropdown-menu{
  font-weight: bold;
}
.navbar-nav a{
  font-weight: bold;
}
.dropdown-menu > a{
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: rgba(0, 0, 0, 0.555) !important;
}
.dropdown-menu a:hover{
  color: rgba(0, 0, 0, 0.884) !important;
}
