.navbar{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dropdown-menu{
  font-weight: bold;
}
.navbar-nav a{
  font-weight: bold;
}
.dropdown-menu > a{
  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: rgba(0, 0, 0, 0.555) !important;
}
.dropdown-menu a:hover{
  color: rgba(0, 0, 0, 0.884) !important;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: linear-gradient(131deg, rgba(124,246,93,1) 12%, rgba(51,51,51,1) 30%, rgba(51,51,51,1) 68%, rgba(238,96,247,1) 78%) transparent;
    

  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: linear-gradient(-85deg, rgb(60, 116, 199) 12%, rgb(38, 227, 252) 78%);
    border-radius: 10px;
    border: 2px solid ;
    border-color: #fff;
  }